<div class="hero">

      
    <div class="text  py-5">
        <h1 class="content text-center">Try Canada's #1 one meal kit</h1>
        <p class="fs-4 content text-center ">Get farm-fresh ingredients to cook delicious recipes,delivered for
             FREE to your doorstep.</p>
        <div class="backig"></div>
    </div> 
 
     
    
    <span class="hero d-flex justify-content-center p-3"><a class="text-decoration-none fs-4" href="/menu">Get Started</a></span>
    <hr class="mx-4">
</div>
   
  <div class="content content text-center">
    <h1 >HOW IT WORKS</h1>
    <div class="row mx-5">
        <div class="col-12 col-md-3 col-sm-6 ">
            <img  src="/images/How-it-works/spices.jpg" style=" width: 150px;
            height: 150px;
            border-radius: 50%;";>
            <p class="fs-4"><b>We create Original recipies</b></p>
            <div class="description-how_it_works">
                <p class="fs-4">Our in house culinary team uses premium ingredients to create uniqu
                    menus and products for breakfast,lnch and dinner.</p>
            
            </div>
         </div>
        <div class="col-12 col-md-3 col-sm-6 p-2">
           <img  src="/images/How-it-works/preference.jpg" style=" width: 150px;
           height: 150px;
           border-radius: 50%;">
           <p class="fs-4"><b>You choose your prferences.</b></p>
           <div class="description-how_it_works">
            <p class="fs-4">Choose from a variety of healthy,delicious meals each week
                that accomaodate your dietary prferences.
            </p>
           </div></div>
       <div class="col-12 col-md-3 col-sm-6 p-2">
            <img  src="/images/How-it-works/delivery.jpg" style=" width: 150px;
            height: 150px;
            border-radius: 50%;">
            <p class="fs-4"><b>We deliver weekly-for free.</b></p>
            <div class="description-how_it_works">
            <p class="fs-4">Your ingredients are packaged in our temprature conditioned boxes
                , so food stays fresh- even when you aren't at home.</p>
            </div>
       </div>
        <div class="col-12 col-md-3 col-sm-6  p-2">
            <img  src="/images/How-it-works/enjoy.jpg" style=" width: 150px;
            height: 150px;
            border-radius: 50%;">
            <p class="fs-4"><b>You eat incredible meals eveyday.</b></p>
            <div class="description-how_it_works">
            <p class="fs-4">Oue recipes are created to cater to all cooking levels and
                styles.From a one-minute weekday breakfast to a delicious
            two-course dinner made with our hands. Our recipes cater to all cooking levels
        and styles.</p>
            </div>   
       </div>
    
    </div>
   </div> 