
.hero a
{
    max-width: 160px;
    color: red;
    background-color: transparent;
    border: 2px solid rgb(22, 22, 22);
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: red;
    text-decoration: none;

}
.addmeal a
{
    max-width: 160px;
    color: red;
    background-color: transparent;
    border: 2px solid rgb(22, 22, 22);
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: red;
    text-decoration: none;  
}
.clerk-list a
{
    text-decoration: none;
    color: red;
    
    
}
.addmealt a:hover
{
    
    color:white;
    background-color: red;
    transition: 0.7s;
   
}


.clerk-list table  th
{
    border:1px solid black;
}
.clerk-list table  td
{
    border:1px solid black;
}
.clerk-list img
{
    
    max-height: 150px;
}

.hero a:hover
{
    
    color:white;
    background-color: red;
    transition: 0.7s;
   
}



.backig
{
    margin-left: 6%;
    margin-right:6%;
    height: 35vh;
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}



.price a
{
  
  border: 1px solid rgb(15, 151, 231);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(15, 151, 231);
}


.price a:hover
{
    border-radius: 10px;
    background-color:rgb(15, 151, 231) ;
    color: white;
    transition: 0.7s;
}
.footer
{
    margin: 0;
    padding: 0;
 background-color: rgba(223, 221, 221, 0.812);
 
}
.myvideo
{
    max-height: 500px;
}
